<html>
<head>
<meta charset="UTF-8">
<title>eastern cafe</title>
<!-- Begin Styles -->
<link href="styles.css" rel="stylesheet" type="text/css" media="all" />
<!-- End Styles -->
</head>
<body>
<div id="stripe" width="73%">
<hr  size=8px color=#80875B>
 <div class="social-media">
  <img src="images/fb.png">
  <img src="images/tw.png">
  <img src="images/ins.png">
 </div>
<hr  size=8px color=#B7986D>
</div>


<!-- Begin Navigation -->
<div id="navigation">
    <ul id="navigation-items">
    <li><a href="#">contact</a></li>
    <li><a href="#">updates</a></li>
    <li><a href="#">gallery</a></li>
    <li><a href="#">menu</a></li>
    <li><a href="aboutpage.html">about</a></li>
    <li><a href="home.html">
    <img src="images/easterncafe-logo.jpg" width="177px" height="40px"></a></li>
    </ul>
   
</div>
<!-- End Navigation -->

<div id="content">
 <div class="aboutbackground">

  <div id="aboutus">
   <div class="leftline"><img src="images/decorationlineleft.png"></div>
   <p class="title">about us</p>
   <div class="rightline"><img src="images/decorationlineright.png"></div>
  </div>
  <div id="aboutuscontent"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
  <div id="aboutpic"><img src="images/aboutpic.jpg"></div>
  <div id="aboutinfo">
   <div id="address">
    <p class="title">EASTERN CAFE</p>
    <p class="content">510 Maynard Ave S<br>Seattle, WA 98104</br></p>
   </div>
   <div id="hours">
    <p class="title">hours</p>
    <p class="content">Mon to Thur 8 am - pm<br>Fri to Sun 8 am - 8 pm</br></p>
   </div>
   </div>
 </div>
</div>


<div id="footer">
<p>&copy;2015 <a href="home.html">eastern cafe</a>. All rights reserved.</p>
</div>
</body>
</html>
